.header-container {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 80px;
    background-color: #594c62;
    z-index: 1;
    box-shadow: 0 0 20px 0 #333333;
}

.header-title {
    font-size: 50px;
    margin: 5px;
    white-space: nowrap;
    color: white;
    border-radius: 10px;
    padding: 5px;
    background-color: #3a3a3a;
    text-decoration: none;
}

.search-button, .navigation-button {
    display: flex;
    align-self: center;
    font-size: 30px;
    white-space: nowrap;
    color: black;
    border-radius: 8px;
    padding: 5px;
    background-color: #dadada;
    text-decoration: none;
    border: solid 3px #3a3a3a;
    box-shadow: 0 0 20px #3b3b3b;
}

.navigation-container {
    display: flex;
    align-self: center;

}

.navigation {
    display: flex;
    align-self: center;
    margin: 0 5px 0 5px;

}

.navigation input {
    border-radius: 8px;
    font-size: 20px;
    height: 30px;
    width: 60px;
    margin: 0 5px 0 0;
    border: solid 3px #3a3a3a;
    box-shadow: 0 0 20px #3b3b3b;
    background-color: #dadada;
}

.GO-button {
    border: solid 3px #3a3a3a;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 0 20px #3b3b3b;
    background-color: #dadada;
}

.navigation-button {
    height: 30px;
    width: 30px;
    justify-content: center;
    background-color: #dadada;
}
.dropdown {
    display: flex;
    align-self: center;
    border: solid 3px #3a3a3a;
    border-radius: 8px;
    box-shadow: 0 0 20px #3b3b3b;
}
.dropdown select {
    border-radius: 8px;
    font-size: 16px;
    padding: 10px 5px 10px 5px;
    border: none;
    width: 150px;
    background-color: #dadada;
    box-shadow: inset 1px 1px 8px rgba(0, 0, 0, 0.22);
}