body {
    font-family: Arial, sans-serif;
    padding-top: 100px;
    background-color: #565656;
    max-width: 1900px;
    margin: auto;
}

.layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
